

/*list grid sidebar*/
.listing-warpper{
    padding: 70px 30px 0px 28px;
}
.listing-warpper aside ul{
    padding: 0;
    margin: 0;
}
.listing-warpper aside ul li{
    list-style: none;
}
.listing-warpper aside.sidebar-left{
    padding-top: 16px;
    padding-right: 20px;
    border-right: 1px solid #e1e2e3;
    border-radius: 4px;
    background-color: #fff;
    height: auto;
    position: sticky;
    bottom: 0;
    display: inline-block;
    min-height: calc(100vh - 80px);
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header .sidebar-title h3{
    font-size: 26px;
    font-weight: 700;
    font-stretch: normal;
    line-height: 1.23;
    color: #333;
    margin-top: 16px;
}
.sidebar-header .clear-button a{
    font-size: 14px;
    font-weight: 600;
    color: #ee2a24;
    cursor: pointer;
}
.filter-widget{}
.filter-widget .filter-item{
    padding: 24px 0;
    border-bottom: 1px solid #e3e3e3;
}
.filter-widget .filter-item:first-child{
    padding-top: 0;
}
.filter-widget .filter-item .filter-title{}
.filter-widget .filter-item .filter-title h5{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 4px auto 16px;
    color: #222;
}

/*Filter tag*/
.filter-search{
    margin-bottom: 10px;
}
.filter-search input{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.filter-tag-items li{
    display: inline-block;
}
.filter-tag-items li a{
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: #222;
    margin: 10px 10px 0px 0px;
    border-radius: 2px;
    background-color: rgba(0,0,0,.05);
    cursor: pointer;
    padding: 2px 10px;
    display: block;
}
.filter-tag-items li a:hover{
    text-decoration: none;
}
.sidebar-left .filter-view-all a{
    font-size: 14px;
    font-weight: 600;
    color: #ee2a24;
    text-align: right;
    cursor: pointer;
    margin-top: 18px;
    display: inline-block;
}
.sidebar-left .filter-view-all a:hover{
    text-decoration: none;
}
/**price filter range **/
.filter-widget .filter-item .filter-content{}
.filter-widget .filter-item .filter-content .filter-range{
    position: relative;
    margin-bottom: 20px;
}
.filter-widget .filter-item .filter-content .filter-range .ui-widget-content{
    height: .3rem;
    border: 0;
    background: #eee;
}
.filter-widget .filter-item .filter-content .filter-range .ui-widget-content .ui-slider-range{
    background: #ee2e24;
}
.filter-widget .filter-item .filter-content .filter-range .ui-widget-content .ui-state-default{
    background: #fff;
    border-color: #c9c9c9;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.filter-widget .filter-item .filter-content .filter-range .ui-widget-content .ui-state-default .filter-price-right,
.filter-widget .filter-item .filter-content .filter-range .ui-widget-content .ui-state-default .filter-price-left{
    position: absolute;
    top: 22px;
    bottom: 1px;
    color: #222;
    border-radius: 10px;
    padding: 2px 8px;
    text-align: center;
    height: 22px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    background: #f3f5f7;
}
.filter-widget .filter-item .filter-content .filter-range .ui-widget-content .ui-state-default .filter-price-left{
    left: 0;

}
.filter-widget .filter-item .filter-content .filter-range .ui-widget-content .ui-state-default .filter-price-right{
    right: 0;
}
.filter-collection{}
.filter-collection label{
    display: flex;
    /*align-items: center;*/
    margin-bottom: 18px;
}
.filter-collection .label-text{
    color: #222;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.filter-collection .label-box {
    height: 16px;
    width: 16px;
    padding-right: 30px;
}
.filter-collection  input[type=checkbox]{
    position: absolute;
    display: none;
}
.filter-collection input[type="checkbox"] + .label-box:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 8px;
    font-size: 20px;
    color: #a6a6a6;
}
.filter-collection input[type="checkbox"]:checked + .label-box:before{
    content: "\f14a";
    color: #1ab64f;
}
/*Listing content css*/
.listing-content{
    padding: 20px 0;
}
/*Breadcumbs css*/
.breadcumbs-inner{}
.breadcumbs-inner nav{}
.breadcumbs-inner nav ol{
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
}
.breadcumbs-inner nav ol li{
    text-transform: capitalize;
    color: rgba(0,0,0,.7);
    font-size: 12px;
}
.breadcumbs-inner nav ol li a:hover{
    text-decoration: none;
}
.breadcumbs-inner .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}
.listing-header .listing-content-title{
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    color: #333;
}
.listing-header .sort-by,.toggle-map{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    color: #222;
    align-items: center;
}
.toggle-map .switch{
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
}
.toggle-map .switch input {
    display: none;
}
.toggle-map .checkbox{}
.toggle-map .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #2196f3;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggle-map .slider:before{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 6px;
    bottom: 6px;
    background-color: #2196f3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.toggle-map .switch input.info:checked + .slider {
    background-color: #2196F3;
}
.toggle-map .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #fff;
}
.toggle-map .slider.round{
    border-radius: 34px;
}
.listing-header .toggle-map .map-label {
    margin-right: 12px;
}
.listing-header .sort-by{
    display: flex;
    align-items: center;
}
.listing-header .sort-by span{
    margin-right: 12px;
}
.listing-header .sort-by .select-dropdown{
    cursor: pointer;
    outline: none;
    height: 40px;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    padding: 6px;
    font-size: 14px;
    color: #222;
}
.divider{
    height: 1px;
    background-color: #eee;
    margin-top: 20px;
}
.listing-header  .coupon-banner{
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 40%;
    margin-right: 15px;
    margin-top: 20px;
}
.listing-header .coupon-card{
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
    border: 1px solid #ededed;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    height: 72px;
    border-left: 4px solid #f5a623;
}
.listing-header .coupon-card{}
.listing-header .coupon-card .coupon-content{
    padding: 0 10px;
    display: flex;
}
.listing-header .coupon-card .coupon-content span{
    font-size: 13px;
    color: rgba(0,0,0,.7);
}

/*listing css*/
.property_list-wrapper{}
.property_list-wrapper .property-list{
    border-bottom: 1px solid #e1e2e3;
    padding-top: 30px;
    padding-bottom: 15px;
}
.property_list-wrapper .property-list:first-child{
    padding-top: 0px;
}
.property_list-wrapper .col-md-10{
    padding-right: 5px;
}
.property_list-wrapper .property_list{}
.property_list-wrapper .listing-gallery-card{
    max-height: 255px;
    height: 100%;
}
.property_list-wrapper .listing-gallery-card .carousel-item{
    width: 100%;
    height: 100%;
}
.property_list-wrapper .listing-gallery-card .carousel-item img{
    width: 100%;
    height: 100%;
}
.property_list-wrapper .listing-gallery-card .carousel-icons{}
.property_list-wrapper .listing-gallery-card .carousel-control-prev,
.property_list-wrapper .listing-gallery-card .carousel-control-next{
    top: 43%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    opacity: 1;
    transition: all .3s ease;
    background-color: rgba(0,0,0,.3);
}
.property_list-wrapper .listing-gallery-card .carousel-control-prev{
    left: 20px;
}
.property_list-wrapper .listing-gallery-card .carousel-control-prev span{}
.property_list-wrapper .listing-gallery-card .carousel-control-next{
    right: 20px;
}
.property_list-wrapper .listing-gallery-card .carousel-control-next span{}
.property_list-wrapper .listing-gallery-card .carousel-indicators{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    right: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
}
.property_list-wrapper .listing-gallery-card .carousel-indicators .list-inline-item{
    width: 100%;
    text-indent: 0;
    position: relative;
    border: 0;
    padding: 1px 0 2px 0px;
    cursor: pointer;
    display: -ms-flexbox;
    display: block;
    -ms-flex: 1;
    /* flex: 1; */
    min-height: 19%;
    margin: 0;
}
.property_list-wrapper .listing-gallery-card .carousel-indicators .list-inline-item img{
    width: 100%;
    height: 100%;
}
/*property description section*/

.property-content .property_heading .property_title{
    display: flex;
    justify-content: space-between;
}
.property-content .property_heading .property_title a{
    color: inherit;
}
.property-content .property_heading .property_title h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #222;
    margin: 0;
}
.property-content .property_heading .property_title .property-badge{
    display: flex;
    color: rgb(238, 46, 36);
    line-height: 10px;
}
.property-content .property_heading .property_title .property-badge .badge-image{
    margin-right: 3px;
}
.property-content .property_heading .property_title .property-badge .badge-content span{
    font-size: 12px;
    font-weight: 600;
}
.property-content .property_heading .property_title .property-badge .badge-content .property-address span{
    text-overflow: ellipsis;
    display: -webkit-box;
    box-orient: vertical;
    overflow: hidden;
    color: #222;
    font-weight: 400;
    font-size: 16px;
}
.property-content .property-rating{
    display: flex;
    margin-top: 20px;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
}
.property-content .property-rating .rating-box{
    border-radius: 2px;
    padding: 3px 6px;
    margin-right: 9px;
    background-color: #52b520;
    color: #fff;
    font-weight: 600;
}
.property-content .property-rating .rating-count .fa{
    font-size: 4px;
    margin: 0 7px;
}
.property-content .property-tag{
    margin: 6px 0px
}
.property-content .property-tag ul{
    display: flex;
}
.property-content .property-tag ul li{
    align-items: center;
    padding-right: 24px;
    font-size: 14px;
    color: #222;
}
.property-content .property-tag ul li span svg{
    width: 18px;
    height: 18px;
}
.property-content .property-partner{
    margin-top: 10px;
}
.property-content .property-partner ul {
   display: flex;
}
.property-content .property-partner ul li {
    border: 1px solid #cecece;
    background-color: #fff;
    margin-right: 8px;
    padding: 2px 8px ;
    font-size: 12px;
    color: #000;
    text-transform: capitalize;
    border-radius: 2px;
}
.property-content .property-partner ul li{

}
.property-content .property-bottom-desc{
    margin-top: 30px;
}
.property-content .property-bottom-desc .property-prices{}
.property-content .property-bottom-desc .final-price{
    margin-right: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #ee2a24;
}
.property-content .property-bottom-desc .compare-price{
    text-decoration: line-through;
    font-size: 16px;
    color: #6d787d;
    margin-right: 8px;
}
.property-content .property-bottom-desc .save-price{
    font-size: 14px;
    font-weight: 600;
    color: #f5a623;
    line-height: 25px;
}
.property-content .property-bottom-desc .listprice-per-room{
    font-weight: 400;
    line-height: 1em;
    margin-top: 4px;
    font-size: 12px;
    color: #6d787d;
}
.property-content .property-bottom-desc .property-btn{
    display: flex;
    justify-content: space-between;
}
.property-content .property-bottom-desc .property-btn .details-btn button,
.property-content .property-bottom-desc .property-btn .buy-btn button{
    border-radius: 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25em;
    text-align: center;
    padding: 8px 12px
}
.property-content .property-bottom-desc .property-btn .details-btn button{
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
}
.property-content .property-bottom-desc .property-btn .buy-btn button{
    background-color: #1ab64f;
    color: #fff;
    border: 1px solid #1ab64f;
}
