.details-page-slider{
    padding-top: 80px;
}
.details-slider-wrapper{
    position: relative;
}
.details-slider-wrapper .details-slider-item{
    /*width: 648px!important;*/
}
.details-slider-wrapper .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0!important;
}

 .slick-prev{
    left: 10px;
}
 .slick-next{
    right: 10px;
}
 .slick-prev .prev-icon{
    background-image: url('../images/arrow-right.svg');
}
 .slick-prev .prev-icon{
    transform: rotate(180deg);
}
 .slick-next .next-icon{
    background-image: url('../images/arrow-right.svg');
}
 .slick-arrow span{
    width: 15px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
}
 .slick-arrow{
    background: #fff;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.details-slider-wrapper .slider-img{
    width: 646px;
    height: 400px;
    margin-right: 2px;
}
.details-slider-wrapper .slider-img img{
    height: 100%;
    width: 100%;
}
.share-btn{
    position: absolute;
    top: 16px;
    right: 24px;
}
.share-btn button,.view-all-image button{
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(55,64,77,0.16);
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: #222222;
    cursor: pointer;
    outline: 0;
    border: 0;
}
.share-btn button .fa, .view-all-image button .fa{
    font-size: 22px;
    margin-right: 3px;
}
.share-btn .dropdown-menu {
    right: 0;
    top: 12px!important;
    left: auto!important;
    min-width: 250px;
    transform: translate3d(0px, 36px, 0px)!important;
    padding: 8px 16px;
}
.share-btn .dropdown-menu:after{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: -5px;
    right: 25px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    box-shadow: rgba(166, 166, 166, 0.2) 1px -1px 0px 0px, rgba(166, 166, 166, 0.2) 0px 0px 0px 0px;
    z-index: 2;
}
.share-btn .dropdown-toggle::after{
    display: none;
}
.share-btn .share-item{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}
.share-btn .share-item a{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: rgb(238, 46, 36);
    cursor: pointer;
    margin-bottom: 16px;
    flex: 1 0 50%;
    padding: 0;
}
.share-btn .share-item a .fa{
    margin-right: 12px;
}
.share-btn .share-item a .facebook i{
    color: rgb(61, 88, 154);;
}
.share-btn .share-item a .whatsapp i{
    color: rgb(42, 213, 96);
}
.share-btn .share-item a .envelope i{
    color: rgb(34, 34, 34);
}
.share-btn .share-item a:hover{
    background-color: transparent;
}
.view-all-image{
    position: absolute;
    bottom: 16px;
    right: 24px;
}
.viewAll__image{
    z-index: 9999999;
}
.viewAll__image .singleListPopupSlide{
    margin-top: 25px;
}
.viewAll__image .modal-body .nav-link{
    background: transparent;
    border:none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.viewAll__image .modal-body .nav-link.active:before{
    width: 100%;
    height: 0px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    border-bottom: 2px solid white;
}
.viewAll__image .modal-body .nav-link:first-child{
    padding-left: 0;
    margin-right: 25px;
}
.viewAll__image.your-room-modal-carousel .slick-list.draggable {
    max-width: 640px;
    height: 400px;
    width: 100%;
}
.viewAll__image .popup-slider-image img{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tabs-content > .content {
    display: none;
    float: left;
    padding: 0.9375rem 0;
    width: 100%;
}

.tabs-content > .content.active {
    display: block;
    float: none;
}
.slick-prev:before,
.slick-next:before {

    color: black;

}

/*details*/

.list-details-page--wrapper{
    padding: 20px 25px 0px 25px;
}
.list-details-header{
    display: flex;
    justify-content: space-between;
}
.list-details-title h1{
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    color: #222222;
}
.list-details-address span{
    font-size: 16px;
    line-height: 1.5;
    -webkit-letter-spacing: 0.4px;
    -moz-letter-spacing: 0.4px;
    -ms-letter-spacing: 0.4px;
    letter-spacing: 0.4px;
    color: #222;
    opacity: 0.54;
}
.details_review{
    text-align: center;
}
.details_review .review-count{
    background: #b4da55;
}
.details_review .review-count span{

    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px 0;
}
.details_review .review-count i{
    color: #fff;
}
.details_review .review-count{}
.details_review .review-details span{
    font-size: 12px;
    padding: 4px;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    word-break: break-word;
    white-space: nowrap;
    background: #f4f4f4;
}
.list-details-member{
    margin-top: 12px;
    margin-bottom: 20px;
}
.list-details-member .member{
    display: inline-flex;
    border: 1px solid #cecece;
    border-radius: 2px;
}
.member-logo{
    display: inline-flex;
    align-items: center;
}
.member-logo img{
    width: 30px;
    height: 24px;
}
.member .member-text{
    font-size: 11px;
    line-height: 24px;
    padding: 0 7px;
    font-weight: 700;
    letter-spacing: .4px;
}

.discount-badge{
    border-radius: 4px;
    border: solid 1px #eee;
    background-color: #fff6ee;
    padding: 8px;
    display: inline-block;

}
.discount-badge span{
    color: #f49242;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
}
.list-details-desc{
    margin-top: 30px;
}
.single-details-title{}
.single-details-title h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
}
.list-details-desc .desc{
    line-height: 1.5;
    word-spacing: 2px;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}
.amenities{
    margin-top: 25px;
}
.amenities .property-tag{}
.amenities .property-tag ul li{
    margin-bottom: 18px;
    font-size: 14px;
    color: #222;
}
.amenities .property-tag ul li svg{
    margin-right: 10px;
}
.choice-your-room{}
.choice-your-room .choice-your-room-inner{}
.choice-your-room .choice-your-room-inner .card{}
.choice-your-room .choice-your-room-inner .card .card-body{
    padding: 0;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-title{
    background-image: linear-gradient(to right,#797f9d,#d4d1da);
    margin: 0;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-title span{
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-title span.fa{
    color: yellow;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-title span:last-child{
    margin-left: 5px;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-categories{
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 18px 20px;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-categories .card-category-wrapper{}
.choice-your-room .choice-your-room-inner .card .card-body .card-categories .card-category-wrapper .card-list{
}
.choice-your-room .choice-your-room-inner .card .card-body .card-categories .card-category-wrapper .card-list .category-title{
    font-size: 21px;
    font-weight: 600;
    padding: 2px 0px;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-categories .card-category-wrapper .card-list .category-title.checked{}
.choice-your-room .choice-your-room-inner .card .card-body .room-size{
    margin-top: 6px;
}
.choice-your-room .choice-your-room-inner .card .card-body .room-size span{
    font-size: 14px;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-categories .card-category-wrapper .card-list .text-success{
    font-size: 22px;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-image{

    width: 200px;
    height: auto;
    object-fit: cover;
    position: relative;
}
.choice-your-room .choice-your-room-inner .card .card-body .card-image img{
    border-radius: 5px;
}
.choice-your-room .choice-your-room-inner .card .card-body  .card-image .icon{
    position: absolute;
    top: 6px;
    right: 11px;
    width: 30px;
    height: 30px;
    background: #00000094;
    border-radius: 100px;
    text-align: center;
    line-height: 25px;
}
.choice-your-room .choice-your-room-inner .card .card-body  .card-image .icon a{
   line-height: 27px;
}
.choice-your-room .choice-your-room-inner .card .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice-your-room .choice-your-room-inner .card .card-footer .prices .sell-price{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-right: 8px;
}
.choice-your-room .choice-your-room-inner .card .card-footer .prices .regular-price{
    text-decoration: line-through;
    font-size: 14px;
    color: #6d787d;
}
.choice-your-room .choice-your-room-inner .card .card-footer .selected-button .btn{
    padding: 10px 30px;
}
    /*Gallery carousel Modal css*/
.your-room-modal-carousel{
    padding-right: 0px!important;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden!important;

}

.your-room-modal-carousel .modal-dialog{
    max-width: 100%;
    margin: 0;
}
.your-room-modal-carousel .modal-content{
    background-color: transparent;
    border: none;
    padding-top: 30px;
}
.your-room-modal-carousel .modal-icon{
    position: absolute;
    top: 20px;
    right: 6%;
}
.your-room-modal-carousel .modal-icon button{
    color: #fff;
    opacity: 1;
    font-size: 30px;
}
.your-room-modal-carousel .modal-header{
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.your-room-modal-carousel .modal-header .modal-title{
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
    position: relative;
}
.your-room-modal-carousel .modal-header .modal-title:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    background: #fff;
    width: 100%;
}
.your-room-modal-carousel .slick-dots{
    bottom:-60px;
    left:auto;
    right:auto;
    position:absolute;
    line-height:0;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.your-room-modal-carousel .slick-track li{
    width: 515px;
    height: 347px;
}
.your-room-modal-carousel .slick-list.draggable{
    width: 515px;
    height: 347px;
    margin: 0 auto;
}
.your-room-modal-carousel ul li img, .your-room-modal-carousel .slick-dots button img {
    width: 100%;
    height: auto;
}
.your-room-modal-carousel .slick-dots button img{
    opacity: 0.7;
    border-radius: 5px;
}
.your-room-modal-carousel .slick-dots li{
    display: inline-block;
}
.your-room-modal-carousel .slick-dots .tab{
    width: 100px;
    height: 64px;
    background: none;
    border: none;
    padding: 0;
    margin-right: 10px;
}
.your-room-modal-carousel .slick-dots .slick-active img{
    opacity: 1;

}
.your-room-modal-carousel .slick-thumbs{
    position: absolute;
    left: -9999px;
}


.your-room-modal-carousel .slick-prev{
    left: 0;
}
.your-room-modal-carousel .slick-next{
    right: 0;
}
.your-room-modal-carousel .slick-prev .prev-icon{
    background-image: url('../images/arrow-right.svg');
}
.your-room-modal-carousel .slick-prev .prev-icon{
    transform: rotate(180deg);
}
.your-room-modal-carousel .slick-next .next-icon{
    background-image: url('../images/arrow-right.svg');
}
.your-room-modal-carousel .slick-arrow span{
    width: 15px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
}
.your-room-modal-carousel .slick-arrow{
    background: #fff;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.your-room-modal-carousel .rooms-caption{
    padding: 20px 0px ;
    text-align: center;
}
.your-room-modal-carousel .rooms-caption h3{
    color: #fff;
    font-size: 16px;

}

/*enjoy meal section*/
.enjoy-meal{
    margin-top: 30px;
}
.enjoy-meal .widgets{}
.enjoy-meal .widgets .widget-item{
    max-width: 340px;
    width: 275px;
    padding: 15px  ;
    border-radius: 4px;
    border: solid 1px #eeeeee;
    display: inline-block;
}
.enjoy-meal .widgets .widget-inner{
    display: flex;
}
.enjoy-meal .widgets .widgets-image{
    height: 75px;
    width: 80px;
    margin-right: 8px;
}
.enjoy-meal .widgets .widgets-image img{
    width: 100%;
}
.enjoy-meal .widgets .widget-inner .widget-title{
    font-size: 14px;
    font-weight: 600;
}
.enjoy-meal .widgets .widget-inner .widget-sub-title{
    font-size: 12px;
    color: #6d787d;
    line-height: 1.2;
}
.enjoy-meal .widgets .widget-inner .widget-price{
    font-size: 14px;
   font-weight: bold;
}
.enjoy-meal .widgets .widget-inner .widget-price span{
    font-size: 11px;
    color: #6d787d;
}
.enjoy-meal .widgets .widget-footer{

}
.enjoy-meal .widgets .widget-footer button{
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #ee2e24;
    line-height: 16px;
    margin-top: 10px;
    border: solid 1px #d7d7d7;
}
.enjoy-meal .widgets .widget-footer button:hover{
    background-color: #ee2e24;
    color: #fff;
}

/*review section*/
.reviews{
    margin-top: 30px;
}
.reviews .single-details-title span{
    font-size: 16px;
}
.review-ratings-inner{}
.review-ratings-inner .ratings{
    margin: 0;
    border-radius: 4px;
    border: 1px solid rgba(180,180,180,0.3);

}
.review-ratings-inner .ratings .rating-box{
    text-align: center;
}
.review-ratings-inner .ratings .rating-box span{
    background-color: rgb(88, 172, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 4px;
    color: #fff;
}
.review-ratings-inner .ratings .rating-box  h4{
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
    color: rgba(0,0,0,0.87);
}
.review-ratings-inner .ratings .rating-box  h5{
    font-size: 12px;
    font-weight: normal;
    color: #222;
}
.review-ratings-inner .ratings .reviews-wrapper{
    padding: 8px 16px;
    border-left: 1px solid rgba(180,180,180,0.3);
}
.review-ratings-inner .ratings .reviews-wrapper .reviews-items{}
.review-ratings-inner .ratings .reviews-wrapper .reviews-items li{
    align-items: center;
    display: flex;
}
.review-ratings-inner .ratings .reviews-wrapper .reviews-items li .count{
    font-size: 12px;
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    margin-right: 8px;
}
.review-ratings-inner .ratings .reviews-wrapper .reviews-items li .count i{
    font-size: 11px;
    color: #CDCDCD;
}
.review-ratings-inner .ratings .reviews-wrapper .reviews-items li .progress{
    width: 85%;
    height: 4px;
}
.review-ratings-inner .ratings .reviews-wrapper .reviews-items li .progress .progress-bar{
    background: rgb(245, 166, 35);
    /*transition: all 0.8s cubic-bezier(0.21, 1.03, 0.45, 1.34) 0s;*/
    /*transition: width .6s cubic-bezier(0.21, 1.03, 0.45, 1.34) 0s;*/
}
.review-ratings-inner .ratings .reviews-wrapper .reviews-items li .progress .progress-bar .progress-bar-text{
    position: absolute;
    right: 18px;
    z-index: 1;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
}

/*user reviews*/
.review-users{}
.review-users .review-user{
    padding: 16px 0;
}
.review-users .review-user .review-user-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}
.review-users .review-user .review-user-item .user-info{
    display: flex;
}
.review-users .review-user .review-user-item .user-avatar{
    height: 36px;
    width: 36px;
    margin-right: 10px;
}
.review-users .review-user .review-user-item .user-avatar img{
    width: 100%;
}
.review-users .review-user .review-user-item .user-name{}
.review-users .review-user .review-user-item .user-name h3{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.87);
    margin: 0;
}
.review-users .review-user .review-user-item .user-name h5{
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    margin: 0;
}
.review-users .review-user .review-user-item .user-rating{
    border-radius: 2px;
    padding: 0 8px;
    background-color: rgb(52, 96, 0);

}
.review-users .review-user .review-user-item .user-rating span{
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    cursor: default;
}
.review-users .review-user .user-desc p{
    font-size: 14px;
    color: #222;
    margin: 0;
}
.reviews .all-reviews a{
    font-size: 14px;
    color: #ee2e24;
    font-weight: 600;
}

/*hotel policy css*/
.hotel-policy{
    margin-top: 25px;

}
.hotel-policy .hotel-policy-time{
    display: flex;
    margin-bottom: 20px;
    padding-left: 18px;
}
.hotel-policy .separator{
    width: 1px;
    height: 70px;
    display: block;
    border-right: 1px solid rgba(166,166,166,0.2);
    margin: 0px 24px;
}
.hotel-policy .hotel-policy-time .check-in p,
.hotel-policy .hotel-policy-time .check-out p{
    font-size: 14px;
}
.hotel-policy .hotel-policy-time .check-in span,
.hotel-policy .hotel-policy-time .check-out span{
    position: relative;
    background: #fff;
    border: solid 1px rgba(166,166,166,0.2);
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    color: #222;
}
.hotel-policy .hotel-policy-time .check-in span:after,
.hotel-policy .hotel-policy-time .check-out span:after{
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    top: -7px;
    left: 10%;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: 1px -1px 0px 0px rgba(166,166,166,0.2), 0px 0px 0px 0px rgba(166,166,166,0.2);
    z-index: 2;
}
.hotel-policy .hotel-policy-time .check-out{}
.policy-lists{
    margin: 0px !important;
    padding-bottom: 8px;
    padding-left: 18px;
}
.policy-lists li{
    font-size: 14px;
    list-style-type: disc;
    color: rgba(0,0,0,0.3);
    margin-bottom: 10px;
}
.policy-lists li span{
    color: #222;
}
.hotel-policy-footer {
    padding: 12px 0px;
    border-bottom: 1px solid rgba(166,166,166,0.2);
}
.hotel-policy-footer .policy-readmore a{
    font-size: 16px;
    font-weight: 600;
    color: #ee2a24;
}
.hotel-nearby{
    margin-top: 25px;
}
.hotel-nearby .nearby-widget{
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(116, 116, 116, 0.2);
    border-image: initial;
    border-radius: 4px;
}
.hotel-nearby .nearby-widget .nearby-widget-header{
    background-color: rgba(162, 154, 199, 0.06);
    z-index: 1;
    border-bottom: 0.5px solid rgba(116, 116, 116, 0.2);
    padding: 24px;
}
.hotel-nearby .nearby-widget .nearby-search-field{
    display: flex;
    align-items: center;
}
.hotel-nearby .nearby-widget .nearby-search-field span{
    padding-left: 7px  ;
    color: #EE2A24;
    font-size: 16px;
}
.hotel-nearby .nearby-widget .nearby-search-field  input{
    margin-left: 29px;
}
.hotel-nearby .nearby-widget .nearby-widget-header .nearby-widget-title{
    padding-bottom: 12px;
    position: relative;
}
.hotel-nearby .nearby-widget .nearby-widget-header .nearby-widget-title:after{
    content: "";
    height: 14px;
    width: 1px;
    position: absolute;
    bottom: -7px;
    left: 11px;
    background: rgba(0, 0, 0, 0.2);
}
.hotel-nearby .nearby-widget .nearby-widget-header .nearby-widget-title .title{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(34, 34, 34);
    margin-left: 16px;
}
.hotel-nearby .nearby-widget .nearby-widget-header .nearby-widget-title .logo{
    width: 24px;
    height: 24px;
    display: inline-block;
}
.hotel-nearby .nearby-widget .nearby-widget-header .nearby-widget-title .logo img{
    width: 100%;
}
.hotel-nearby .nearby-widget .nearby-widget-header .nearby-widget-title h4{
    font-size: 18px;
    color: rgb(34, 34, 34);
    font-weight: 600;
}

.hotel-nearby .nearby-widget .nearby-widget-header .nearby-widget-title .nearby-search-field input{}
.hotel-nearby .nearby-widget .nearby-widget-content{
    box-shadow: rgba(132, 135, 138, 0.14) 0px 3px 35px 0px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(116, 116, 116, 0.11);
    border-image: initial;
    margin: 20px;
    padding: 20px;
}
.hotel-nearby .nearby-widget .nearby-widget-content h4{

}
.hotel-nearby .nearby-widget .nearby-widget-content .nearby-widgets-items{
    height: 320px;
    overflow-y: auto;
}
.hotel-nearby .nearby-widget .nearby-widget-content .nearby-widgets-items::-webkit-scrollbar-track {
    /*background: red;*/
}
.nearby-widgets-items::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
.nearby-widgets-items::-webkit-scrollbar-thumb {
   background: transparent;
}
.hotel-nearby .nearby-widget .nearby-widget-content .nearby-widgets-items li{
    border-bottom: 1px solid rgba(116, 116, 116, 0.29);
    padding: 16px 0px;
    outline: 0px;
}
.hotel-nearby .nearby-widget .nearby-widget-content .nearby-widgets-items li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hotel-nearby .nearby-widget .nearby-widget-content .nearby-widgets-items li a .list-title h4{
    font-size: 16px;
    line-height: 1.5;
    color: rgb(34, 34, 34);
    font-weight: normal;
}
.hotel-nearby .nearby-widget .nearby-widget-content .nearby-widgets-items li a .list-icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;
}
.hotel-nearby .map{
    margin-top: 20px;
}
.hotel-nearby .map iframe{
    width: 100%;
}

/*list details page right sidebar*/
.right-sidebar{
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(125,125,125,0.1);
    border: solid 1px #f0f0f0;
}
.right-sidebar .sidebar-content{
    padding: 10px 20px;
}
.right-sidebar .sidebar-header{
    opacity: 0.9;
    background: linear-gradient(265deg,#ef4123,#ee3f25 48%,#d11450);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.right-sidebar .sidebar-header .sidebar-title{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.right-sidebar .sidebar-header .sidebar-title span{}
.right-sidebar .sidebar-header .sidebar-title-right{}
.right-sidebar .sidebar-header .sidebar-title-right span{
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    -webkit-letter-spacing: 0.43px;
    -moz-letter-spacing: 0.43px;
    -ms-letter-spacing: 0.43px;
    letter-spacing: 0.43px;
    font-weight: bold;
    background: rgba(255,255,255,0.3);
    border-radius: 2px;
    padding: 2px 5px;
}
.right-sidebar .property-prices {}
.right-sidebar .property-prices .final-price {
    margin-right: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #222;
}
.right-sidebar .property-prices .compare-price{
    text-decoration: line-through;
    font-size: 16px;
    color: #6d787d;
    margin-right: 8px;
}
.right-sidebar .property-prices .save-price{
    font-size: 14px;
    font-weight: 600;
    color: #f5a623;
    line-height: 25px;
}
.right-sidebar .property-prices .desc{
    font-size: 12px;
    color: #6d787d;
}
.right-sidebar .sidebar-dates{
    display: flex;
}
.right-sidebar .sidebar-dates input{
    padding: 12px 10px;
    height: auto;
}
.right-sidebar .sidebar-dates input::placeholder{
    font-size: 14px;
    color:#0c0a15;
    font-weight: 600;
}
.right-sidebar .sidebar-dates input:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 60%;
}
.right-sidebar .sidebar-dates input:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40%;
}
.right-sidebar .sidebar-room-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(125,125,125,0.1);
    border: solid 1px #f0f0f0;
    margin-top: 15px;
}

.right-sidebar .sidebar-room-class span{
    font-size: 14px;
    font-weight: 600;
}
.right-sidebar .sidebar-room-class a{
    color: rgb(238, 42, 36);
}
.right-sidebar .sidebar-coupon{ }
.right-sidebar .sidebar-coupon{
    display: flex;
    align-items: baseline;
    margin-top:25px;
}
.right-sidebar .sidebar-coupon .coupon-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-sidebar .sidebar-coupon .coupon-wrapper .coupon-inner{
    font-size: 14px;
    line-height: 1.14;
    color: #222;
    margin-left: 12px;
}
.right-sidebar .sidebar-coupon .coupon-wrapper .coupon-inner button{
    display: block;
    padding: 4px 8px;
    border-radius: 4px;
    border: solid 1px #2ec478;
    background-color: #effcf5;
    color: #698e7f;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 8px;
    cursor: pointer;
}
.right-sidebar .sidebar-checkbox .price{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    color: #222;
    margin-right: 7px;
}
.right-sidebar  input{}
.right-sidebar  input[type="checkbox"] {
    display: none;
    position: absolute;
}
.right-sidebar  label .label-box{
    height: 16px;
    width: 16px;
}
.right-sidebar  input[type="checkbox"]:checked + .label-box:before{
    content: "\f14a";
    color: #1ab64f;
}
.right-sidebar  input[type="checkbox"] + .label-box:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    font-size: 20px;
    color: #a6a6a6;
}

.right-sidebar .sidebar-save{
    margin-top: 25px;
}
.right-sidebar .sidebar-save .sidebar-save-header{
    display: flex;
    justify-content: space-between;
}
.right-sidebar .sidebar-save .sidebar-save-header .save-left{
    display: flex;
}
.right-sidebar .sidebar-save .sidebar-save-header .save-left .member-image{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
}
.right-sidebar .sidebar-save .sidebar-save-header .save-left img{
    width: 100%;
}
.right-sidebar .sidebar-save .sidebar-save-header .save-left span{
    font-size: 14px;
    line-height: 1.14;
    color: #000;
    margin-left: 12px;
}

.right-sidebar .sidebar-save .sidebar-save-header .save-checkbox span{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    color: #000000;
}

.right-sidebar .sidebar-save .sidebar-save-desc{
    position: relative;
    padding: 14px 28px;
    border-radius: 4px;
    margin-top: 16px;
    border: dashed 1px rgba(124,124,124,0.1);
    display: flex;
    justify-content: space-between;
}
.right-sidebar .sidebar-save .sidebar-save-desc:after{
    background: linear-gradient(103deg,rgba(252,252,252,0.58),#a4a4a4);
    opacity: 0.1;
    border: dashed 1px #7c7c7c;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}
.right-sidebar .sidebar-save .sidebar-save-desc .save-left span{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    color: #222222;
}
.right-sidebar .sidebar-save .sidebar-save-desc .save-left span:last-child{
    font-size: 12px;
    line-height: 1.33;
    color: #6d787d;
    display: block;
}

.right-sidebar .sidebar-save .sidebar-save-desc .save-price p{
    margin: 0;
}
.right-sidebar .sidebar-save .sidebar-save-desc .save-price .compare-price{
    opacity: 0.5;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    color: #222;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}
.right-sidebar .sidebar-save .sidebar-save-desc .save-price .regular-price{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: #222;
}
.right-sidebar .sidebar-total-price{
    margin-top: 20px;
}
.right-sidebar .sidebar-total-price .total-save,
.right-sidebar .sidebar-total-price .total-price{
    display: flex;
    justify-content: space-between;
}
.right-sidebar .sidebar-total-price .total-save .title,
.right-sidebar .sidebar-total-price .total-price .title{
    font-size: 14px;
}
.right-sidebar .sidebar-total-price .total-save .price,
.right-sidebar .sidebar-total-price .total-price .price{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    color: #000000;
    margin-right: 30px;
}
.right-sidebar .sidebar-total-price .total-price .title span{
    font-size: 12px;
    color: #6d787d;
    display: block;
}

.right-sidebar .sidebar-booking-btn button{
    display: inline-block;
    font-weight: 600;
    width: 100%;
    padding: 10px;
}
.right-sidebar .property-badge{
    font-weight: 600;
    color: #ee2e24;
    border: 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.right-sidebar .property-badge .badge-content{
    padding-left: 7px;
}

.right-sidebar .sidebar-privacy{
    margin: 20px 0px
}
.right-sidebar .sidebar-privacy span a  {
    font-weight: 600;
    color: #ee2a24;
    font-size: 14px;
}
.right-sidebar .sidebar-privacy span i{
    margin-left: 10px;
}

.similar-product-wrapper .similar-product-title{
    font-size: 26px;
    font-weight: 700;
    color: #333;
    margin: 25px 0;
}
.similar-product-wrapper .similar-product-lists{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.similar-product-wrapper .similar-product-lists img{
    width: 100%;
}
.similar-product-wrapper .similar-product-lists .header{
    margin-top: 10px;
}
.similar-product-wrapper .similar-product-lists .header .title{
    font-size: 20px;
    color: #222;
    font-weight: 700;
    margin: 0 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.similar-product-wrapper .similar-product-lists .header .address{
    font-size: 16px;
    color: #222;
    margin-bottom: 12px;
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.similar-product-wrapper .similar-product-lists .content .similar-list-rating{}
.similar-product-wrapper .similar-product-lists .content .similar-list-rating .rating-wrapper{
    border-radius: 2px;
    padding: 3px 8px;
    line-height: 1.5;
    margin-right: 8px;
    background-color: #52b520;
    font-size: 12px;
    color: #fff;
}
.similar-product-wrapper .similar-product-lists .content .rating-text{
    font-size: 14px;
    color: #222;
    padding-top: 2px;
}
.similar-product-wrapper .similar-product-lists .property-prices{}
.similar-product-wrapper .similar-product-lists .property-prices .final-price{
    font-size: 24px;
    margin-right: 8px;
    color: #ee2e24;
    font-weight: 700;
}
.similar-product-wrapper .similar-product-lists .property-prices .compare-price{
    font-size: 14px;
    text-decoration: line-through;
    color: #6d787d;
    margin-right: 8px;
}
.similar-product-wrapper .similar-product-lists .property-prices .save-price{
    color: #ed9a00;
    font-size: 14px;
    display: inline-block;
    margin-right: 8px;
    font-weight: 600;
}
.similar-product-wrapper .similar-product-lists .property-prices .desc{
    font-size: 12px;
    color: #6d787d;
    text-transform: lowercase;
}
.similar-list-rating{}
.similar-product-wrapper .slick-arrow{
    top: 30%;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.35);
}
.similar-product-wrapper .slick-prev{
    left: -12px;
}
.similar-product-wrapper .slick-next{
    right: -12px;
}