/*sticky header*/
.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    height: 70px;
    padding: 0px 30px 0px 28px;
}

.sticky-header-search .form-control{
    width: 100%;
    height: 100%;
    padding:10px;
}
.sticky-header-search .search-location{
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.sticky-header-search .search-near{
    background: #f2f2f2;
    min-width: 82px;
    max-width: 100px;
    /* max-height: 30px; */
    padding: 3px 10px;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.sticky-header-search .search-near span {
    font-size: 13px;
    font-weight: 600;
}
.sticky-header-search form input.form-control.search-date-time,
.sticky-header-search form input.form-control.search-room {
    border-radius: 0;
    background-clip: inherit;
}
.sticky-header-search form .search-button {
    background: #1ab64f;
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
}
.sticky-header-search .form-control::-webkit-input-placeholder,
.sticky-header-search .form-control::placeholder{ /* Edge */
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
}
.sticky-header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;

}
.sticky-header ul li{
    display: inline-block;
}
.sticky-header ul li {
    position: relative;
}
.sticky-header ul li:first-child{
    padding-right: 30px;
}
.sticky-header ul li a{
    color: #222222;
    font-weight: 400;
}
.sticky-header ul li a:hover{
    text-decoration: none;
}
.sticky-header ul li a .fa {
    font-size: 22px;
}
.sticky-header ul li a .fa:last-child{
    padding-right: 7px;
}
.sticky-header ul li a .badge {
    position: absolute;
    top: -14px;
    right: 13px;
    background: none;
}