html {
    font-family: Open Sans,sans-serif;
    line-height: 1.2;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    color: #222;
    font-family: Open Sans,sans-serif;
}
.form-control:focus{
    box-shadow: none;
}
a:hover{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
/*common css*/
.bg-success{
    background-color: rgb(26, 182, 79);
}
.bg-megento{
    background-color: rgb(255, 127, 123);
}
.bg-yellow{
    background-color: rgb(245, 166, 35);
}
.bg-primary{
    background-color: rgb(95, 214, 242);
}
.bg-pink{
    background-color: rgb(254, 148, 241);
}
.bg-blue{
    background-color: rgb(126, 137, 228);
}
/**********************
header css
************************/
/*header{*/
/*    height: 70px;*/
/*}*/
header .logo{
    width: 80px;
    height: 30px;
}
.header-top{
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.03), 0 1px 2px 0 rgba(0,0,0,.03);
}
a.header-top-widget{
    display: block;
    margin: 7px;
}
.header-top-widget:hover{
    text-decoration:none;
}
.header-top-widget .widget-top-inner{
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 8px 8px 7px;
    display: flex;
    justify-items: center;
}
.header-top-widget .widget-top-inner .widget-img{}
.header-top-widget .widget-top-inner .widget-text{}
.header-top-widget .widget-top-inner .widget-text h3{
    color: rgba(0,0,0,.64);
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 14px;
}
.header-top-widget .widget-top-inner .widget-text p{
    color: rgba(0,0,0,.54);
    font-size: 12px;
    margin: 0;
}
.language-bar button{
    background: #fff;
    font-weight: 700;
    color: #222;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border: none;
    width: 100%;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.language-bar button, .login-bar button{
    height: 69px;
}
.language-bar button:hover, .login-bar button:hover{
    background: #f2f2f2;
    color: #222;
    border:none;
}
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.show>.btn-primary.dropdown-toggle {
    color: #222;
    background-color: #f2f2f2;
    border-color: none;
    border:0;
}
.language-bar button .fa, .login-bar button .fa{
    font-size: 22px;
    padding-right: 3px;
}
.login-bar button{
    font-weight: 700;
    color: #222;
    font-size: 14px;
    background: #fff;
    border-radius: 0;
    border: none;

}
.bg-gray{
    background-color: #f3f5f7;
}
/*dropdown menu*/
.main-header .dropdown-toggle::after{
    display: none;
}
.main-header .navbar-expand-md .navbar-nav a.nav-link{
    font-weight: 400;
    color: rgba(0,0,0,.7);
    margin: 0;
    padding: 9px 15px;
}
.main-header .navbar-expand-md .navbar-nav li:hover{
    background: #fff;
}
.main-header .dropdown .caret{
    display: inline-block;
    width: 6px;
    margin-left: 8px;
    transform: rotate(0deg);
    transition: transform .3s ease;
}
.main-header .dropdown .caret:before, .dropdown .caret:after{
    background: rgba(0,0,0,.54);
    content: "";
    height: 7px;
    position: absolute;
    width: 1px;
    top: -9px;
}
.main-header .dropdown:hover .caret:before,.main-header .dropdown:hover .caret:after{
    top: 0px;
}
.main-header .dropdown .caret:before{
    left: 0;
    transform: rotate(-45deg);
}
.main-header .dropdown .caret:after{
    right: 0;
    transform: rotate(45deg);
}
.main-header .dropdown:hover .caret{
    transform: rotate(180deg);
}
.main-header .dropdown:hover .dropdown-menu{
    display: block;
}
.main-header .navbar-nav .dropdown-menu {
    width: 275px;
    border:none;
}
.main-header .navbar-nav .dropdown-menu li h3{
    font-weight: 600;
    font-size: 16px;
    padding: 6px 24px;
}
.main-header .navbar-nav .dropdown-menu li a{
    color: rgba(0,0,0,.7);
    padding: 8px 25px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.main-header .navbar-nav .dropdown-menu li:hover a{
    color: #ee2e24;
}
/*search section*/
.search-section{
    /*background: linear-gradient(135.46deg,#d11450,#df293a);*/
    width: 100%;
    padding: 10px 0 32px;
    margin-bottom: 18px;
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.search-section .search-heading h1{
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.5;
    margin: 16px 0;
}
.search-section form{
    justify-content: center;
}
.search-section form input.form-control{
    padding: 29px 10px;
    width: 100%;
}
.search-section form .search-near {
    background: #f2f2f2;
    min-width: 82px;
    max-width: 100px;
    /* max-height: 30px; */
    padding: 3px 10px;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.search-section form .search-near span{
    font-size: 13px;
    font-weight: 600;
}
.search-section form input.form-control.search-location{
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
}
.search-section form input.form-control.search-date-time,.search-section form input.form-control.search-room{
    border-radius: 0;
    background-clip: inherit;
}
.search-section form input.form-control.search-room{}
.search-section form .search-button{
    background: #1ab64f;
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 18px 27px;
    display: inline-block;
    width: 100%;
}

.search-section form .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: 0;
    outline: 0;
    box-shadow: none;
}
.search-section form .form-control::-webkit-input-placeholder{ /* Edge */
    font-size: 16px;
    color: rgba(0,0,0,.87);
    font-weight: 600;
}
.recent-search{
    padding: 15px 0px;
}
.recent-search .recent-search-inner{
    display: flex;
    align-items: center;
}
.recent-search .recent-search-inner .recent-search-heading{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    min-width: 170px;
    margin: 0 20px 0 0;
    text-shadow: 2px 4px 8px rgba(0,0,0,.2);
}
.recent-search .recent-search-inner .recent-search-button button{
    border: 2px solid #fff;
    border-radius: 4px;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    background-color: transparent;
    padding: 8px;
    margin-right: 16px;
    cursor: pointer;
}
.recent-search .recent-search-inner .recent-search-button button:hover{
    background-color: rgba(0,0,0,.4);
}
.recent-search .recent-search-inner .recent-search-button button .search-location-item{
    line-height: 20px;
    text-transform: capitalize
}
.recent-search .recent-search-inner .recent-search-button button .search-dot-circle .fa{
    font-size: 3px;
}
/*offer section  */
.sub--heading h3{
    font-size: 26px;
    font-weight: 700;
    color: #333;
}
.offer-section  .offer-image{
    display: inline-block;
    max-width: 100%;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
}
.offer-section .offer-image-inner{
}
.offer-section .offer-image-inner a{
    display: block;
}
.offer-section .offer-image-inner a img{
    -o-object-fit: cover;
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition: .5s;
}
.offer-section .offer-image-inner:hover img{
    transform: scale(1.05);
}

/*Category List section*/
.category-list-section{}
.category-list-section .category-items{
    background: hsla(0,0%,85%,.1);
    overflow-y: scroll;
    height: 442px;
    overflow-x: hidden;
    border: 1px solid #ededed;
    border-right: 0;

}
.category-list-section .category-items .row.category-item{
    margin: 0;
}
.category-list-section .category-items .category-item{
    position: relative;
    overflow-x: visible;
    background-color: transparent;
    border-bottom: 1px solid #ededed;
    transition: all .2s;
    cursor: pointer;
    padding: 17px 25px;
}
.category-list-section .category-items .category-item .category-image{
    border-radius: 50%;
    overflow: hidden;
    height: 72px;
    width: 72px;
}
.category-list-section .category-items .category-item .category-name {
    transform: translateY(-10px);
}
.category-list-section .category-items .category-item .category-name span{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 6px 10px;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.05);
    border-radius: 4px;
}
.category-list-section .category-items .category-item .cat-title h3{
    line-height: 1.5em;
    color: #222;
    max-height: 3em;
    max-width: 80%;
    font-size: 16px;
}
.category-list-section .category-items .category-item .cat-explore a{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    color: #ee2e24;
    text-decoration: none;
}
.category-list-section .category-items .category-item .cat-icon {
    display: none;
    position: absolute;
    right: 30px;
    top: 45%;
    width: 20px;
    height: 20px;
}
.category-list-section .category-items .category-item .cat-icon i{
    color:#ee2e24;
    font-size: 30px;
}
.category-list-section .category-items .category-item:hover .cat-icon{
    display: block;
}
.category-list-section .category-items .category-item .category-link{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
    left: 0;
}
.category-list-section .category-items .category-item:hover{
    background-color: #fff;
    border-left: 4px solid #ee2e24;
    box-shadow: 0 8px 22px 0 hsla(0,0%,58%,.18);
}
/*categorylist carosul*/
.catagory-gallery-item .carousel-control-next .carousel-control-next-icon,
.catagory-gallery-item .carousel-control-prev .carousel-control-prev-icon{
    position: relative;
    width: 15px;
    height: 25px;
}
.catagory-gallery-item .carousel-control-prev{
    left: 20px;
}
.catagory-gallery-item .carousel-control-next{
    right: 20px;
}
.catagory-gallery-item .carousel-control-prev .carousel-control-prev-icon{
    transform: rotate(180deg);
}
.catagory-gallery-item .carousel-control-next .carousel-control-next-icon{
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI0VFMkEyNCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMi43NzcuNDk3TC4zNiAyLjkzMSA5LjQyOSAxMiAuMzYgMjEuMDY5bDIuNDE3IDIuNDM0IDkuMDY5LTkuMDg2YTMuNDI5IDMuNDI5IDAgMCAwIDAtNC44MzRMMi43NzcuNDk3eiIvPjwvc3ZnPg==');
}
.catagory-gallery-item .carousel-control-prev .carousel-control-prev-icon{
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI0VFMkEyNCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMi43NzcuNDk3TC4zNiAyLjkzMSA5LjQyOSAxMiAuMzYgMjEuMDY5bDIuNDE3IDIuNDM0IDkuMDY5LTkuMDg2YTMuNDI5IDMuNDI5IDAgMCAwIDAtNC44MzRMMi43NzcuNDk3eiIvPjwvc3ZnPg==');
}

.catagory-gallery-item .carousel-control-next, .catagory-gallery-item .carousel-control-prev {
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    opacity: 1;
}
.catagory-gallery-item .category-slider-content{
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.71));
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 80%;}
.catagory-gallery-item .category-slider-content .carousel-caption h5{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.catagory-gallery-item .category-slider-content .carousel-caption p{
    line-height: 1.38em;
    color: rgb(255, 255, 255);
}
.is-hidden{
    display: none;
}
/*expanding section*/
.expanding-section{
    background-color: #f3f5f7;
    padding: 40px 0px 93px 0px;
    position: relative;
}
.expanding-section .expanding-map{
    background: url("../images/expanding-map.png");
    position: absolute;
    width: 100%;
    top: 0;
    min-height: 350px;
    left: -93px;
    display: block;
    bottom: 0;
    -webkit-background-size: cover;
    background-size: cover;
}
.expanding-section .expanding-sub-heading{
    font-size: 16px;
    color: rgba(0,0,0,.7);
}
.expanding-section .expanding-count ul{
    padding: 0;
    margin: 0;
    display: flex;

}
.expanding-section .expanding-count ul li{
    list-style: none;
    display: block;
    position: relative;
    padding: 0 35px;
}
.expanding-section .expanding-count ul li:after{
    position: absolute;
    content: '';
    border: 1px solid #979797;
    top: 20%;
    right: 0;
    transform: skewX(-30deg);
    min-height: 50px;
}
.expanding-section .expanding-count ul li:first-child {
    padding-left: 0;
}
.expanding-section .expanding-count ul li:last-child:after{
    display: none;
}
.expanding-section .expanding-count ul li span{
    font-size: 32px;
    color: rgba(0,0,0,.87);
    display: block;
    font-weight: 600;
}
.expanding-section .expanding-count ul li  p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
color:rgba(0, 0, 0, 0.54)
}
.expanding-section .expand-country-list ul{
    margin: 0;
    padding: 0;
}
.expanding-section .expand-country-list ul li{
    list-style: none;
    width: 30%;
    display: inline-block;
    padding: 13px 0px;
}
.expanding-section .expand-country-list ul li a{
    color: rgba(0,0,0,.7);
    font-weight: 600;
    font-size: 16px;
}
.expanding-section .expand-country-list ul li a span .dot{
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    overflow: hidden;
    margin-right: 12px;
}
.expanding-section .expand-country-list ul li a span .dot.succes{
   background: rgb(26, 182, 79);
}

.expanding-section  .expanding-country{
    position: relative;
}
.expanding-section .expanding-country ul {
    margin:0;
    padding: 0;
}
.expanding-section  .expanding-country ul li{
    width: 110px;
    height:130px;
    border-radius: 4px;
    background-color: transparent;
    list-style: none;
    position: absolute;
}
.expanding-section  .expanding-country ul li.uae{
    top: 70px;
}
.expanding-section  .expanding-country ul li.nepal{
    top: 29px;
    left: 33%;
}
.expanding-section  .expanding-country ul li.china{
    top: 0;
    left: 60%;
}
.expanding-section  .expanding-country ul li.india{
    top: 173px;
    left: 30%;
}
.expanding-section  .expanding-country ul li.malasiya{
    top: 150px;
    left: 57%;
}
.expanding-section  .expanding-country ul li.indonesia{
    top: 250px;
    left: 50%;
}
.expanding-section .expanding-country ul li a img{
    width: 100%;
}
.expanding-section .expanding-country ul li a {
    z-index: 9;
    position: relative;
    display: block;
    text-decoration: none;

}
.expanding-section .expanding-country ul li a .country-tooltip {
    position: relative;
    background: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.expanding-section .expanding-country ul li a:hover .country-tooltip{
    opacity: 1;
}
.expanding-section .expanding-country ul li a .country-tooltip:before{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: -5px;
    left: 40%;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    box-shadow: rgba(166, 166, 166, 0.2) 1px -1px 0px 0px, rgba(166, 166, 166, 0.2) 0px 0px 0px 0px;
    z-index: 2;
}

/*introducing section*/
.introducing-section{}
.introducing-section .introducing-items{
    height: 100%;
}
.introducing-section .introducing-items .introducing-item{
    padding: 32px;
    background-color: #fff;
    border: 1px solid #ededed;
    text-align: center;
    height: 100%;
}
.introducing-section .introducing-items .introducing-item{}
.introducing-section .introducing-items .introducing-item .introducing-image{
    height: 165px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.introducing-section .introducing-items .introducing-item .introducing-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.introducing-section .introducing-items .introducing-item .introducing-content .small-img img{
    height: 32px;
    margin-top: 20px;
}
.introducing-section .introducing-items .introducing-item .introducing-content p{
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0px;
}
.introducing-section .introducing-items .introducing-item .introducing-content h3{
    font-size: 20px;
    color:#222222;
    font-weight: 400;
    margin-bottom: 25px;
}
.introducing-section .introducing-items .introducing-item .introducing-content a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 13px;
    border-radius: 2px;
    margin: 0px auto 15px auto;
    max-width: 248px;
    background: #1ab64f;
    transition: .2s;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
.introducing-section .introducing-items .introducing-item .introducing-content a:hover,
.countdown-section .countdown-wrap .countdown-desc .story-btn:hover{
    cursor: pointer;
    background: #17a447;
}

/*Blog Section css   */
.blog-section{
    padding-top: 30px;
    padding-bottom: 60px;
}
.blog-section .view--all-blog{
    text-decoration: none;
    color: #ee2e24;
    font-size: 16px;
    font-weight: 600;
}
.blog-section .blog-card{
}
.blog-section .blog-card .card-body.blog-content{
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.blog-section .blog-card .card-body.blog-content p{
    margin: 18px 0 32px;
}
.blog-section .blog-card .card-body.blog-content a{
    text-decoration: none;
    color: #ee2e24;
    font-weight: 600;
}
/*Count Down section*/
.countdown-section{
    background: url(../images/count-down-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}
.countdown-section .row{
    min-height: 500px;
}
.countdown-section .countdown-wrap {
    background-color: #fff;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 12px 11px 2px rgba(0,0,0,.1);
}
.countdown-section .countdown-wrap .countdown-head{
    display: flex;
    align-items: center;
}
.countdown-section .countdown-wrap .countdown-head .count-item{
    line-height: 80px;
    letter-spacing: -5px;
    font-size: 120px;
    font-weight: 700;
}
.countdown-section .countdown-wrap .countdown-head .count-heading{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-left: 16px;
}
.countdown-section .countdown-wrap .countdown-desc {
    margin-top: 25px;
}
.countdown-section .countdown-wrap .countdown-desc p{
    font-size: 14px;
    line-height: 2;
    margin-bottom: 25px;
}
.countdown-section .countdown-wrap .countdown-desc .story-btn{
    display: inline-block;
    border-color: transparent;
    border-radius: 4px;
    text-decoration: none;
    background: #1ab64f;
    font-size: 16px;
    font-weight: 700;
    padding: 19px 50px;
    color: #fff;
    letter-spacing: .4px;
}

/*Footer css*/

.footer-section{
    padding: 32px 0px;
    background-color: #6d787d;

}
.footer-section ul{
    margin: 0;
    padding: 0;
}
.footer-section ul li{
    list-style:none
}
.footer-section .footer-top{
    border-bottom: 1px solid hsla(0,0%,100%,.5);
    padding-bottom: 16px;
}
.footer-section .footer-top .footer-logo-wrap{
    display: flex;
    align-items: center;
}
.footer-section .footer-top .footer-logo-wrap span{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.footer-section .footer-top .footer-logo-wrap img{
    height: 31px;
    width: 90px;
    fill: #fff;
    left: -6px;
    position: relative;
   margin-right: 16px;
}
.footer-section .main-footer{
    padding: 30px 0;
}
.footer-section .main-footer .footer-app .apps-logo{
    display: flex;
}
.footer-section .main-footer .footer-app p{
    font-size: 14px;
    color: #fff;
}
.footer-section .main-footer .footer-app a{
    min-width: 140px;
    max-width: 170px;
    max-height: 55px;
}
.footer-section .main-footer .footer-app a:first-child {
    margin-right: 12px;
}
.footer-section .main-footer .footer-app img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #a6a6a6;
    border-radius: 6px;
}

.footer-section .main-footer  .footer-nav{}
.footer-section .main-footer  .footer-nav ul,.footer-section .main-footer  .footer-nav-3 ul{
    padding: 0;
    margin: 0;
}
.footer-section .main-footer  .footer-nav ul li{
    width: 49%;
    display: inline-block;
    margin: 8px 0;
}
.footer-section .main-footer ul > li a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.footer-section .main-footer  .footer-nav ul li a:hover{
    text-decoration: underline;
}

.footer-section .main-footer  .footer-nav-3 ul li{
    list-style: none;
    margin: 8px 0;
}
.footer-social ul{}
.footer-social ul li{
    display: inline-block;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 13px;
}
.footer-social ul li:last-child{
    margin-right: 0;
}
.footer-social ul li a{
    color: #fff;
    display: block;
}
footer .copyrite .container{
    border-top: 1px solid hsla(0,0%,100%,.5);
    padding-top: 30px;
}
footer .copyrite .col,
.footer-property-list .container .col{
    padding: 0;
}
footer .copyrite .copyrite-text{
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    color: hsla(0,0%,100%,.7);
}
 .footer-social ul li:hover{
    background-color: #000;
}
.footer-property-list {}
.footer-property-list .container{
    border-top: 1px solid hsla(0,0%,100%,.5);
    padding: 30px 0;
}
.footer-property-list .footer-property-wrap{
    text-align: center;
    color: #fff;
}
.footer-property-list .footer-property-wrap .property-link{}
.footer-property-list .footer-property-wrap .property-link a{
    color: #fff;
}
.footer-property-list .footer-property-wrap .property-link a h3{
    font-size: 18px;
    font-weight: 700;
}
.footer-property-list .footer-property-wrap .property-link a:hover{
    text-decoration: none;
}
.footer-property-list .footer-property-wrap .property-link .property-list-desc {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.footer-city-list .footer-city-heading h3{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 10px;
    color: #fff;
}
.footer-city-list .container{
    border-top: 1px solid hsla(0,0%,100%,.5);
    padding: 30px 0;
}
.footer-city-list .city-list-grid{
    display: grid;
    grid-template-columns: repeat(6,auto);
}
.footer-city-list .city-list-grid a{
    margin: 8px 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}
.footer-city-list .city-list-grid a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 991px){
    .footer-city-list .city-list-grid{
        grid-template-columns: repeat(4,auto);
    }
}
@media only screen and (max-width: 767px){
    .footer-city-list .city-list-grid{
        grid-template-columns: repeat(3,auto);
    }
}
@media only screen and (max-width: 575px){
    .footer-city-list .city-list-grid{
        grid-template-columns: repeat(2,auto);
        text-align: center;
    }
}
@media only screen and (max-width: 480px){
    .footer-city-list .city-list-grid{
        grid-template-columns: repeat(1,auto);
    }
}
